<footer class="footer">
<div class="row">
  <div class="col-xs-12">
    <%= link_to structure_panel_path(@structure,@panel), :class => 'btn btn-default' do %>
    <span class="glyphicon glyphicon-arrow-left"></span> Back to Panel <%= panel_letter(@panel) %>
    <% end %>
  </div>
</div>
</footer>