<footer class="footer">
<div class="row">
  <div class="col-xs-12">
    <% if @manufacturing_jobs_show || @manufacturing_jobs_new || @manufacturing_jobs_index%>
      <%= link_to job_phase_path(@job,@phase), :class => 'btn btn-default' do %>
        <span class="glyphicon glyphicon-arrow-left"></span> Back to Phase <%= @phase.name %>
      <% end %>
    <% elsif @manufacturing_jobs_edit %>
      <%= link_to phase_manufacturing_job_path(@phase, @manufacturing_job), :class => 'btn btn-default' do %>
        <span class="glyphicon glyphicon-arrow-left"></span> Back to <%= @manufacturing_job.mfg_job_name %>
      <% end %>
    <% end %>
  </div>
</div>
</footer>