<%= render 'header' %>
<div class="row">
  <div class="col-md-7">
    <%= render 'structures' %>
  </div>
  <div class="col-md-5">
    <%= render 'manufacturing_jobs' %>
  </div>
</div>
<%= render 'footer' %>