<div class="page-header">
  <h2>
    <% if @part_types_show %>
      <%= @part_type.name %>
      <% if @current_role == 'admin' %>
        <%= link_to edit_part_type_path(@part_type), :class => 'btn btn-default btn-xs' do %>
          <span class="glyphicon glyphicon-pencil"></span> Edit
        <% end %>
      <% end %>
    <% elsif @part_types_new %>
      New Part Type
    <% elsif @part_types_edit %>
      Editing <%= @part_type.name %>
    <% elsif @part_types_index %>
      Part Types
    <% end %>
  </h2>
</div>